.sliderContainer{
    width: 100%;
    
}
.sliderDescription{
    color: white;
    display: flex;
    justify-content: center;
    font-family: "Michroma", Sans-serif;
  font-size:45px;
  font-weight: 50;
}
.image{
    width: 100%;
}
